<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theatre.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @theatre.address %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @theatre.cost %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @theatre.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @theatre.email %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x3000&sensor=false&zoom=16&markers=#{@theatre.latitude}%2C#{@theatre.longitude}" %>

<%= link_to 'Edit', edit_theatre_path(@theatre) %> |
<%= link_to 'Back', theatres_path %>
