<%= form_for(@screening) do |f| %>
  <% if @screening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screening.errors.count, "error") %> prohibited this screening from being saved:</h2>

      <ul>
      <% @screening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<tr>
  <div class="field">
    <%= f.label :theatre_id %><br>
    <%= f.collection_select :theatre_id, Theatre.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.collection_select :movie_id, Movie.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :seats %><br>
    <%= f.text_field :seats %>
  </div>
  
  
  <div class="field">
    <%= f.label :date_start_showing %><br>
    <%= f.date_field :date_start_showing %>
  </div>
  <div class="field">
    <%= f.label :date_end_showing %><br>
    <%= f.date_field :date_end_showing %>
  </div>
  <div class="field">
    <%= f.label :time_showing %><br>
    <%= f.date_select :time_showing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </tr>
<% end %>
